.posts-story-wrapper {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    .posts-story-items {
        padding: 0 10px;
        .posts-story__header {
            width: 100%;
            position: relative;
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                li {
                    border-radius: 10px;
                    width: calc(100% / 3);
                    min-height: calc(50px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .span-title{
                        color: var(--secondary-text);
                    }
                    &:not(.active):hover {
                        background-color: var(--hover-overlay);
                    }
                    &:not(.active){
                        svg{
                            color: var(--color-icon);
                        }
                    }
                }
                .active {
                    position: relative;
                    &::after {
                        content: "";
                        background-color: var(--after-button-active);
                        height: 3px;
                        width: 90%;
                        position: absolute;
                        bottom: -4px;
                        border-radius: 50px;
                    }
                }
            }
            &::after {
                content: " ";
                background-color: var(--border-bottom);
                height: 1px;
                width: 100%;
                position: absolute;
                bottom: 0;
            }
        }
    }
}
