.modal-add-posts-wrapper {
    width: 100%;
    .button-modal {
        width: 100%;
    }
}

.modal-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}
