.box-chat-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: transparent;
    // height: 433px;
    // width: 100%;
    color: red;
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .box-chat-items {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right: 20px;
    }
}
