.chats {
    .userChat {
        height: 56px;
        max-height: 72px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        .userChat__avatar {
            height: 72px;
            display: flex;
            align-items: center;
            .user-avatar-online {
                height: 15px;
                width: 15px;
                bottom: 6px;
                right: 1px;
            }
        }
        .userChatInfo {
            color: var(--primary-text);
            height: 72px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left:7px;

            .userChat__last__messages {
                font-family: inherit;
                color: var(--secondary-text);
                padding-top: 1px;
                font-weight: 400;
                font-size: var(----primary-font-size);
                line-height: 1.2308;
            }
        }
        &:hover {
            background-color: var(--hover-overlay);
        }
    }
}
